.home-date{
    font-size:10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .view-btn{
    background-color: #32BBC3; 
    border: none;
    color: rgb(243, 236, 236);
    text-align: center;
    border-radius: 10px;
    width: 100px;
    height: 25px;
    margin-bottom: 15px;
    margin-top: 10px;
    
  }

  .ar-button{
    display: flex;
    flex-direction: row;
    margin-left: 57px;
    margin-top: 1px;
    padding-left: 2px;
  }

  .Accept-btn,.Reject-btn{
    border: none;
    color: rgb(16, 16, 16);
    text-align: center;
    border-radius: 5px;
    width: 60px;
    height: 25px;
    
  }