.Completeviewdetails-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 120%;
    max-width: 1200px;
    height: 210%;
    margin-bottom: 6rem;
    margin-left: 4rem;
    margin-top: 4rem;
    border-radius:10px;
    /* margin-right: 4rem; */
    text-align: center;
    padding-bottom: 30px;
    padding-right: 200px;
 }

 .Completeorder-details{
    color: #1789AD;
    padding-top: 10px;
    margin-left: 10rem;
 }
 .status-div{
   background-color:rgb(1, 211, 43);
   width: 90px;
   color:#fff;
   text-align: center;
   border-radius: 5px;
   padding: 5px;
   
 }

 .viewdetails-hr-line{
    width: 90%;
    margin-left: 1.5rem;
    border: 1px solid black;

 }

 .agent-details{
    display: flex;
    flex-direction:row;
 }

 

 .Completeorder-tbl{
    text-align: left;
    width: 1200px;
    margin-left: 8rem;
    padding-left:20px;
    padding-bottom:50px
 }

 .v-order-tbl2{
    margin-left: 13rem;
 }

 .agent-photo{
    width: 10rem;
    height: 10rem;
    border-radius:50%;
    margin-left: 4rem;
 }

 .v-agent-name{
    margin-left: 4rem;
    width: 90%;
 }

 .Completeorder-tbl tr:nth-child(even) {
   background-color: #b6c2ef;
   
 }