@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.header-search{
    background-color: #CCE1F4;
    width: 500px;
    height: 35px;
    border-radius: 10px;
    padding-left: 4px;
    font-family: FontAwesome;
    border-color: #1789AD;
}

.search-bar{
    padding-top: 40px;
    padding-left: 226px;
}

