*{
    margin: 0%;
    padding: 0%;
}

.container{
    height: 10vh;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, #0a5279, #196284, #368297);
    display: flex;
    justify-content: space-between;
}
img{
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 1.5%; */
}

.user{
    color: #fff;
    font-size: 40px;
    margin-left: 10px;
}

.downarrow{
    color: #fff;
    font-size: 30px;
    padding-top: 5px;

}

.links-container{
    display: flex;
    justify-content: space-between;
    
}

.profile-container{
    padding-right: 30px;
    /* padding-top: 1%; */
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
}

label{
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
}