.forgetpassword-div{
    display:flex;
    flex-direction: row;
    /* background-color: red; */
    text-align: center;
    margin-top:14rem;
    margin-left: 16rem;
}

.forgot-input{
    
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #d6d1d5;
    background-color: #E7E7E7;
    height: 1rem;
    max-width:100%
     
}

.forgot-lable{
    margin-bottom: 0.5em;
    color: #444;
    font-weight: lighter;
    margin-right: 9rem;
   
}

.forgot-email{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.forgot-error{
    color:#db2269;
    font-size: 0.625em;
    display: relative;
    margin-right: 11rem;
    
  }
  
  .p-reset-btn{
    border-radius:5px;
    width: 60px;
    background-color:#5AB4D0;
    color:#fff;
    width: 55px;
  }

  .reset-pswd{
    margin-left: -13rem;
  }

  .brandname-div{
   margin-top: 1rem;
    margin-left:2rem;
  }