.complaints-head-bar{
    display: flex;
    width: 75%;
    height: 8rem;
    margin-left: 12.5%;
    margin-left: 12.5;
    box-shadow: 2px 2px 2px 2px #a19c9c;
    border-radius: 20px;
    margin-top: 15px;
} 
.total-complaints{
    width: 33%;
    padding-left: 1%;
}
.pharmacy-complaints{
    width: 33%;
}
.agent-complaints{
    width: 33%;
}
.complaints-details{
    display: flex;
    flex-direction: row;
}