.phead{
    color: #1789AD;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.filterable-table-container{
    padding-left: 10%;
    padding-right: 10%;
}

td{
    text-align: center;
}

.col-sm-5{
    display: none;
}
.col-sm-4{
    display: none;
}
.pagination{
    display: none;
}
.close{
    display: none;
}
.filter-input{
    width: 30%;
    height: 35px;
    margin-bottom: 25px;
    margin-top: 25px;
    border: 2px solid #1789AD;
    border-radius: 10px;
}
